<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <parameter name="pdfngreport-properties" value="pdfngreport.properties" />
  
    <listeners>
        <listener class-name="com.uttesh.pdfngreport.PDFReportListener" />
    </listeners>
  <test thread-count="1" name="Test">
    <classes>
      <class name="Test.BarcodeVerification"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->